/* You can add global styles to this file, and also import other style files */

@media only screen and (max-width: 600px) {
.avatar_image_size{
width: 40px;
height: 40px;
}
  }

  .avatar_image_size{
    width: 100px;
    height: 100px;
    }